
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

#loader {
background-size: cover;
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;

}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*/ asda /*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(savage.png);
    background-color: #1c3143;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    font-family: 'Poppins, sans-serif';
    font-size: 16px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

h2 {
    text-align: center;
    color: white;
}



.card1{
    background-image: url(img1.png);
}
.card2{
        background-image: url(img2.png);
}
.card3{
    background-image: url(img3.png);
}    
.card4{
    background-image: url(img4.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}

@font-face {
    font-family: PLANK;
    src: url(PLANK.TTF)
  }

h1 {
    font-family: PLANK, sans-serif;
    font-size: 70px;
    justify-content: space-around;
    line-height: 2;
    padding: 10px;
    letter-spacing: 3px;
    margin-right: 100px;
    text-shadow: 2px 2px #000000;
}

/*/ vid css /*/

.video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

